body {
    font-family: Arial, sans-serif;
    direction: rtl; /* تعيين اتجاه الكتابة إلى اليمين */
}

header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.product-list {
    display: flex; /* استخدام flexbox */
    justify-content: center;
    flex-wrap: wrap; /* السماح للعناصر بالتوزيع في أكثر من سطر */
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 80px; /* عرض محدد لكل عنصر */
    height: 80px; /* ارتفاع محدد لكل عنصر */
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* إضافة ظل بسيط */
}

.product-card img {
    width: 100%; /* اجعل الصورة تأخذ عرض البطاقة بالكامل */
    height: 150px; /* ارتفاع محدد للصورة */
    object-fit: cover; /* تأكد من ملاءمة الصورة للعنصر */
    border-radius: 5px 5px 0 0; /* إضفاء الزوايا المنحنية على الجزء العلوي من الصورة */
}

.modal {
    display: none; /* إخفاء النافذة المنبثقة */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* خلفية مظللة */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
